#alert { 
	position: fixed;
	 top: 30%;
	 left: 50%;
	 transform: translate(-50%,-50%);
	 padding: 0.5em 1em;
	 background-color: #ffff88;
	 border: solid;
	 min-width: 200px
}

body{
	background-color: #f7f7f7;
}

body.pc {
	/* font-size: large; */
}

body.mobile {
	font-size: 15px;
}

.appInfo {
	font-weight: bold;
}

#appIcon {
	height: 1.2em;
}

#appVer {
	margin-left: 0.5em;
}

textarea {
	font-size: inherit;
}

button {
	font-size: inherit;
	padding: 0.1em 0.5em;
}

input[type="text"] {
	font-size: inherit;
}

.text-box {
	border-style: solid;
	padding: 0px 5px 5px;
	border-width: thin;
}

#appliedUrls, #appliedPolicy {
	width: 99%;
	word-break: break-all;
}

.button-area {
	margin-top:5px;
}

#toggle.on {
	background-color: yellow;
}

#toggle.off {
	background-color: gray;
	font-weight: bold;
	color: yellow;
	border-color: black;
}

span.error {
	background-color: pink;
	font-weight: bold;
}

span.warning {
	background-color: yellow;
}
