.main {
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
}

label[for="enable-future"] {
	cursor: pointer;
	font-weight: bold;
}

label[for="enable-future"].gray {
	color: darkgray;
}

#settings {
	display:flex;
	align-items:center;
	justify-content:center;
	cursor: default;
	margin: 0;
	padding:  0 0.5em;
}

#settings:hover {
	background-color: #87cefa;
}

.gear-emoji {
	margin-right: 0.2em;
	font-size: x-large;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
